[defaults]
home = ./.ansible
inventory = ./inventory.ini
roles_path = ./roles
collections_path = ./collections
retry_files_enabled = False
host_key_checking = True
interpreter_python = auto_silent
localhost_warning = False
local_tmp = /tmp/ansible-local-tmp
remote_tmp = /tmp/ansible-remote-tmp

[ssh_connection]
pipelining = True
control_path_dir = /tmp/ansible-cp
ssh_args = -F /dev/null -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=30 -o UserKnownHostsFile=./known_hosts
